{% extends "base.html" %}

{% block content %}
<h1>Buggy</h1>

<p>
 <a href="/" class="button">home</a>
 <br></br>
</p>

<table>
 <tr>
   <td>ID:</td> <td> {{ buggy['id'] }} </td>
 </tr>

 <tr>
   <td>Number of Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
 </tr>

 <tr>
   <td>Tyres Type:</td> <td> {{ buggy['tyres'] }} </td>
 </tr>

 <tr>
   <td>Number of Tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
 </tr>

 <tr>
   <td>Flag's Colour:</td> <td> {{ buggy['flag_color'] }} </td>
 </tr>

 <tr>
   <td>Flag's Colour Secondary:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
 </tr>

 <tr>
   <td>Flag's Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
 </tr>

 <tr>
   <td>Primary Motive Power Type:</td> <td> {{ buggy['power_type'] }} </td>
 </tr>

 <tr>
   <td>Primary Motive Power Units:</td> <td> {{ buggy['power_units'] }} </td>
 </tr>

 <tr>
   <td>Auxiliary Motive Power Type:</td> <td> {{ buggy['aux_power_type'] }} </td>
 </tr>

 <tr>
   <td>Auxiliary Motive Power Units:</td> <td> {{ buggy['aux_power_units'] }} </td>
 </tr>

 <tr>
   <td>Hamster Booster:</td> <td> {{ buggy['hamster_booster'] }} </td>
 </tr>

 <tr>
   <td>Armour Type:</td> <td> {{ buggy['armour'] }} </td>
 </tr>

 <tr>
   <td>Offensive Capability:</td> <td> {{ buggy['attack'] }} </td>
 </tr>

 <tr>
   <td>Number of Attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
 </tr>

 <tr>
   <td>Fireproof?</td> <td> {{ buggy['fireproof'] }} </td>
 </tr>

 <tr>
   <td>Insulated?</td> <td> {{ buggy['insulated'] }} </td>
 </tr>

 <tr>
   <td>Antibiotic?</td> <td> {{ buggy['antibiotic'] }} </td>
 </tr>

 <tr>
   <td>Banging sound system?</td> <td> {{ buggy['banging'] }} </td>
 </tr>

 <tr>
   <td>Race computer algorithm?</td> <td> {{ buggy['algo'] }} </td>
 </tr>

 <tr>
   <td>TOTAL COST OF BUGGY</td> <td> {{ buggy['total_cost'] }} </td>
 </tr>

</table>

{% endblock %}
