<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>
    {% if buggy %}
      Edit Buggy #{{ buggy['id'] }}
    {% else %}
      Create New Buggy
    {% endif %}
  </h1>

  <div class="spacer">
    <a href="/" class="button">Home</a>
    <a href="/buggy" class="button">Show Buggies</a>
  </div>

  <form action="/new" method="post">

  <table class="center">

   <tr>
    <th>Buggy ID:</th> <th> {{ buggy['id'] }} </th>
   </tr>

   <input hidden type="Number" name="id" value="{{ buggy['id'] }}"/>

   <tr>
   <td><label for="qty_wheels">Number of Wheels (>=4 and must be even): </label></td>
   <td><input type="Number" name="qty_wheels" min="4" value="{{ buggy['qty_wheels'] }}"/></td>
   </tr>

   <tr>
   <td><label for="tyres">Tyres Type: </label></td>
   <td><select id="tyres" name="tyres">
     <option value="" {% if buggy['tyres'] == None %} selected {% endif %}></option>
     <option value="knobbly" {% if buggy['tyres'] == "knobbly" %} selected {% endif %}>Knobbly</option>
     <option value="slick" {% if buggy['tyres'] == "slick" %} selected {% endif %}>Slick</option>
     <option value="steelband" {% if buggy['tyres'] == "steelband" %} selected {% endif %}>Steelband</option>
     <option value="reactive" {% if buggy['tyres'] == "reactive" %} selected {% endif %}>Reactive</option>
     <option value="maglev" {% if buggy['tyres'] == "maglev" %} selected {% endif %}>Maglev</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="qty_tyres">Number of Tyres (>= Number of Wheels): </label></td>
   <td><input type="Number" name="qty_tyres" min="4" value="{{ buggy['qty_tyres'] }}"/></td>
   </tr>

   <tr>
   <td><label for="flag_pattern">Flag's Pattern (If Plain is selected, only Flag's Colour will be used): </label></td>
   <td><select id="flag_pattern" name="flag_pattern">
     <option value="" {% if buggy['flag_pattern'] == None %} selected {% endif %}></option>
     <option value="plain" {% if buggy['flag_pattern'] == "plain" %} selected {% endif %}>Plain</option>
     <option value="vstripe" {% if buggy['flag_pattern'] == "vstripe" %} selected {% endif %}>Vstripe</option>
     <option value="hstripe" {% if buggy['flag_pattern'] == "hstripe" %} selected {% endif %}>Hstripe</option>
     <option value="dstripe" {% if buggy['flag_pattern'] == "dstripe" %} selected {% endif %}>Dstripe</option>
     <option value="checker" {% if buggy['flag_pattern'] == "checker" %} selected {% endif %}>Checker</option>
     <option value="spot" {% if buggy['flag_pattern'] == "spot" %} selected {% endif %}>Spot</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="flag_color">Flag's Colour: </label></td>
   <td><input type="color" name="flag_color" value="{{ buggy['flag_color'] }}" required/></td>
   </tr>

   <tr>
   <td><label for="flag_color_secondary">Flag's Other Colour (Must be different from Flag's Colour (unless pattern is plain)): </label></td>
   <td><input type="color" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}" required/></td>
   </tr>

   <tr>
   <td><label for="power_type">Primary Motive Power Type (Use 1 unit only for non-consumable): </label></td>
   <td><select id="power_type" name="power_type">
     <option value="" {% if buggy['power_type'] == None %} selected {% endif %}></option>
     <option value="petrol" {% if buggy['power_type'] == "petrol" %} selected {% endif %}>Petroleum-fuelled internal combustion engine</option>
     <option value="fusion" {% if buggy['power_type'] == "fusion" %} selected {% endif %}>Fusion reactor (non-consumable)</option>
     <option value="steam" {% if buggy['power_type'] == "steam" %} selected {% endif %}>Steam engine</option>
     <option value="bio" {% if buggy['power_type'] == "bio" %} selected {% endif %}>Bio-fuelled internal combustion engine</option>
     <option value="electric" {% if buggy['power_type'] == "electric" %} selected {% endif %}>Lithium-ion battery</option>
     <option value="rocket" {% if buggy['power_type'] == "rocket" %} selected {% endif %}>Rocket fuel</option>
     <option value="hamster" {% if buggy['power_type'] == "hamster" %} selected {% endif %}>Hamster</option>
     <option value="thermo" {% if buggy['power_type'] == "thermo" %} selected {% endif %}>Thermonuclear reactor (non-consumable)</option>
     <option value="solar" {% if buggy['power_type'] == "solar" %} selected {% endif %}>Bank of solar panels (non-consumable)</option>
     <option value="wind" {% if buggy['power_type'] == "wind" %} selected {% endif %}>Sailing rig (non-consumable)</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="power_units">Primary Motive Power Units: </label></td>
   <td><input type="Number" name="power_units" min="1" value="{{ buggy['power_units'] }}"/></td>
   </tr>

   <tr>
   <td><label for="aux_power_type">Auxiliary Motive Power Type (Use 1 unit only for non-consumable): </label></td>
   <td><select id="aux_power_type" name="aux_power_type">
     <option value="" {% if buggy['aux_power_type'] == None %} selected {% endif %}>None</option>
     <option value="petrol" {% if buggy['aux_power_type'] == "petrol" %} selected {% endif %}>Petroleum-fuelled internal combustion engine</option>
     <option value="fusion" {% if buggy['aux_power_type'] == "fusion" %} selected {% endif %}>Fusion reactor (non-consumable)</option>
     <option value="steam" {% if buggy['aux_power_type'] == "steam" %} selected {% endif %}>Steam engine</option>
     <option value="bio" {% if buggy['aux_power_type'] == "bio" %} selected {% endif %}>Bio-fuelled internal combustion engine</option>
     <option value="electric" {% if buggy['aux_power_type'] == "electric" %} selected {% endif %}>Lithium-ion battery</option>
     <option value="rocket" {% if buggy['aux_power_type'] == "rocket" %} selected {% endif %}>Rocket fuel</option>
     <option value="hamster" {% if buggy['aux_power_type'] == "hamster" %} selected {% endif %}>Hamster</option>
     <option value="thermo" {% if buggy['aux_power_type'] == "thermo" %} selected {% endif %}>Thermonuclear reactor (non-consumable)</option>
     <option value="solar" {% if buggy['aux_power_type'] == "solar" %} selected {% endif %}>Bank of solar panels (non-consumable)</option>
     <option value="wind" {% if buggy['aux_power_type'] == "wind" %} selected {% endif %}>Sailing rig (non-consumable)</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="aux_power_units">Auxiliary Motive Power Units:</label></td>
   <td><input type="Number" name="aux_power_units" min="0" value="{{ buggy['aux_power_units'] }}"/></td>
   </tr>

   <tr>
   <td><label for="hamster_booster">Hamster Booster (Only effective if you have hamster motive power):</label></td>
   <td><input type="Number" name="hamster_booster" min="0" value="{{ buggy['hamster_booster'] }}"/></td>
   </tr>

   <tr>
   <td><label for="armour">Armour Type: </label></td>
   <td><select id="armour" name="armour">
     <option value="" {% if buggy['armour'] == None %} selected {% endif %}></option>
     <option value="none" {% if buggy['armour'] == "none" %} selected {% endif %}>None</option>
     <option value="wood" {% if buggy['armour'] == "wood" %} selected {% endif %}>Wood</option>
     <option value="aluminium" {% if buggy['armour'] == "aluminium" %} selected {% endif %}>Aluminium</option>
     <option value="thinsteel" {% if buggy['armour'] == "thinsteel" %} selected {% endif %}>Thinsteel</option>
     <option value="thicksteel" {% if buggy['armour'] == "thicksteel" %} selected {% endif %}>Thicksteel</option>
     <option value="titanium" {% if buggy['armour'] == "titanium" %} selected {% endif %}>Titanium</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="attack">Offensive Capability: </label></td>
   <td><select id="attack" name="attack">
     <option value="" {% if buggy['attack'] == None %} selected {% endif %}></option>
     <option value="none" {% if buggy['attack'] == "none" %} selected {% endif %}>None</option>
     <option value="spike" {% if buggy['attack'] == "spike" %} selected {% endif %}>Spike</option>
     <option value="flame" {% if buggy['attack'] == "flame" %} selected {% endif %}>Flame</option>
     <option value="charge" {% if buggy['attack'] == "charge" %} selected {% endif %}>Charge</option>
     <option value="biohazard" {% if buggy['attack'] == "biohazard" %} selected {% endif %}>Biohazard</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="qty_attacks">Number of Attacks:</label></td>
   <td><input type="Number" name="qty_attacks" min="0" value="{{ buggy['qty_attacks'] }}"/></td>
   </tr>

   <tr>
   <td><label for="fireproof">Fireproof? </label></td>
   <td><select id="fireproof" name="fireproof">
     <option value="" {% if buggy['fireproof'] == None %} selected {% endif %}></option>
     <option value="1" {% if buggy['fireproof'] == 1 %} selected {% endif %}>Yes</option>
     <option value="0" {% if buggy['fireproof'] == 0 %} selected {% endif %}>No</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="insulated">Insulated? </label></td>
   <td><select id="insulated" name="insulated">
     <option value="" {% if buggy['insulated'] == None %} selected {% endif %}></option>
     <option value="1" {% if buggy['insulated'] == 1 %} selected {% endif %}>Yes</option>
     <option value="0" {% if buggy['insulated'] == 0 %} selected {% endif %}>No</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="antibiotic">Antibiotic? </label></td>
   <td><select id="antibiotic" name="antibiotic">
     <option value="" {% if buggy['antibiotic'] == None %} selected {% endif %}></option>
     <option value="1" {% if buggy['antibiotic'] == 1 %} selected {% endif %}>Yes</option>
     <option value="0" {% if buggy['antibiotic'] == 0 %} selected {% endif %}>No</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="banging">Banging sound system?: </label></td>
   <td><select id="banging" name="banging">
     <option value="" {% if buggy['banging'] == None %} selected {% endif %}></option>
     <option value="1" {% if buggy['banging'] == 1 %} selected {% endif %}>Yes</option>
     <option value="0" {% if buggy['banging'] == 0 %} selected {% endif %}>No</option>
   </select></td>
   </tr>

   <tr>
   <td><label for="algo">Race computer algorithm (If no offensive capability, then only select defensive or steady): </label></td>
   <td><select id="algo" name="algo">
     <option value="" {% if buggy['algo'] == None %} selected {% endif %}></option>
     <option value="steady" {% if buggy['algo'] == "steady" %} selected {% endif %}>Steady</option>
     <option value="defensive" {% if buggy['algo'] == "defensive" %} selected {% endif %}>Defensive</option>
     <option value="offensive" {% if buggy['algo'] == "offensive" %} selected {% endif %}>Offensive</option>
     <option value="titfortat" {% if buggy['algo'] == "titfortat" %} selected {% endif %}>Titfortat</option>
     <option value="random" {% if buggy['algo'] == "random" %} selected {% endif %}>Random</option>
     <option value="buggy" hidden></option>
   </select></td>
   </tr>

   <tr>
     <th><label for="total_cost">Current Total Cost of Buggy (Snapshot before change) in £</label></th>
     <th><input disabled type="Number" name="total_cost" value="{{ buggy['total_cost'] }}"/></th>
   </tr>

   <tr>
     <th><label for="target_cost">TARGET COST (Note: Will change all Values to match Target Cost) in £</label></th>
     <th><input type="Number" name="target_cost" value="{{ buggy['target_cost'] }}"/></th>
   </tr>

  </table>

  <div class="spacer">
    <input type="submit" class="button" value="Submit Buggy">
    <input type="submit" class="button" formaction="/autofill" value="Auto Fill Empty Inputs">
  </div>
  </form>

{% endblock %}
