{% extends "base.html" %}

{% block content %}
<h1>Buggy</h1>

<table>
 <tr>
   <td>ID:</td> <td> {{ buggy['id'] }} </td>
 </tr>

 <tr>
   <td>Number of Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
 </tr>

 <tr>
   <td>Flag Colour:</td> <td> {{ buggy['flag_color'] }} </td>
 </tr>

 <tr>
   <td>Flag Colour Secondary:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
 </tr>

 <tr>
   <td>Flag Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
 </tr>

 <tr>
   <td>Primary Motive Power Type:</td> <td> {{ buggy['power_type'] }} </td>
 </tr>

 <tr>
   <td>Primary Motive Power Units:</td> <td> {{ buggy['power_units'] }} </td>
 </tr>

 <tr>
   <td>Auxiliary Motive Power Type:</td> <td> {{ buggy['aux_power_type'] }} </td>
 </tr>

 <tr>
   <td>Auxiliary Motive Power Units:</td> <td> {{ buggy['aux_power_units'] }} </td>
 </tr>

 <tr>
   <td>Hamster Booster:</td> <td> {{ buggy['hamster_booster'] }} </td>
 </tr>

 <tr>
   <td>Tyres Type:</td> <td> {{ buggy['tyres'] }} </td>
 </tr>

 <tr>
   <td>Number of Tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
 </tr>

 <tr>
   <td>Armour Type:</td> <td> {{ buggy['armour'] }} </td>
 </tr>

 <tr>
   <td>Attack Type:</td> <td> {{ buggy['attack'] }} </td>
 </tr>

 <tr>
   <td>Number of Attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
 </tr>

 <tr>
   <td>Is the buggy coated with fire-retardant paint?</td> <td> {{ buggy['fireproof'] }} </td>
 </tr>

 <tr>
   <td>Is the buggy protected with a rubber mesh protecting itself from electric lance attacks?</td> <td> {{ buggy['insulated'] }} </td>
 </tr>

 <tr>
   <td>Is the buggy equipped with with the latest defences against virulent biohazards and nasty scratches?</td> <td> {{ buggy['antibiotic'] }} </td>
 </tr>

 <tr>
   <td>Is the buggy wired up with some decent lungs for blasting motivational rock during the more demanding sections of the race?</td> <td> {{ buggy['banging'] }} </td>
 </tr>

 <tr>
   <td>What is your buggy's Race computer algorithm?</td> <td> {{ buggy['algo'] }} </td>
 </tr>

</table>
<p>
 <a href="/" class="button">home</a>
</p>

{% endblock %}
