{% extends "base.html" %}

{% block content %}

  <h1>
    Buggy Editor
  </h1>

  <div class="spacer">
    <a href="/new" class="button">Create New Buggy</a>
    <a href="/buggy" class="button">Show Buggies and Get JSON for each buggy</a>
    <a href="/costs" class="button">Shows Costs Summary Table</a>
    <a href="/poster" class="button">Poster</a>
  </div>

  <p>
    Hi! This buggy editor will allow you to create your own personalised buggy!
    To enter a race, you must abide to the rules from <strong><a href="{{ rules_url }}">race rules</a></strong>
    and log into the <strong><a href="{{ server_url }}">race server</a></strong> to enter your buggy into the
    next race using the JSON code provided. If the rules are not followed, your buggy will be disqualified.
  </p>

  <img src="static/rene-buggy-2.png">


{% endblock %}
